* {
  box-sizing: border-box;
}

.row::after {
  content: "";
  clear: both;
  display: block;
}

[class*="col-"]{
  float: left;
  padding: 15px;
}

html{
  font-family: "Times New Roman", serif;
  background-color: #e6d6c3;
}

.header {
  background-image:linear-gradient(to right, #17305c, gray);
  color:  #e6d6c3;
  padding: 20px;
}

.content {
  margin-top: 15px;
  width: 185px;
  background-color: #c0c0c0;
  box-shadow: 5px 5px 5px grey;
}

.img{
  margin-left: 23%;
  margin-right: 23%;
  margin-top: 15px;
  box-shadow: 5px 2px 7px grey;
}

.content h1 {
  font-weight: bolder;
  font-size: 30px;
}

.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0px;
}

.menu li {
  padding: 4px;
  background-color: #5dadec;
  margin-bottom: 10px;
  color: #ffffff;
  font-weight: normal;
}
.menu li:hover {
  background-color: #3599E7;}

/* columns desktop */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

/* columns phone */
@media only screen and (max-width: 768px){
[class*="col-"] {
  width: 100%;
  .img{
    margin-left: 13%;
    margin-right: 0;
    width: 75%;
      }
  }
}
