{% extends "layout.html" %}

{% block title %} Index {% endblock %}


{% block heading %}Nam tincidunt rutrum dolor, pellentesque dapibus{% endblock %}

{% block content %}
   <h1>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h1>
   Praesent velit ante, molestie accumsan neque non, cursus feugiat leo. Duis ac tincidunt odio,
   eu accumsan felis. Aliquam porttitor est lacus, in vestibulum est laoreet nec. Nam ut varius neque.
   Suspendisse dolor ligula, commodo ac urna et, tincidunt condimentum eros. Praesent interdum, neque ullamcorper
   sodales pretium, lacus diam porta lorem, ut blandit elit felis feugiat felis. Nunc vel massa interdum, cursus
   metus id, porta nunc. Nulla varius porta laoreet. Cras ut lectus id arcu aliquet blandit. Proin eleifend urna elit.
   Sed ut ante in risus ullamcorper posuere. Pellentesque sem sem, dictum ut odio imperdiet, sodales commodo mauris.
   Ut condimentum pellentesque lacus, et lobortis enim tincidunt in. Aenean dictum consequat tincidunt. Mauris pretium
   hendrerit urna, et aliquam sapien euismod at. In suscipit eros eget nibh placerat semper. Quisque fringilla fermentum o
   rci nec efficitur. Nam sodales a neque ut congue. Curabitur est magna, vulputate eu arcu vel, porttitor sollicitudin odio.
   Cras at diam nibh. Duis maximus dignissim pulvinar.<br>
   <img type="img" src="{{ url_for('static', filename='depto1.jpg') }}", alt="Departamento1" class="img">

{% endblock %}
